.about-container {
    display: flex;
    gap: 60px;
    margin-top: 200px;

    @media screen and (max-width: 800px) {
        flex-direction: column;
        align-items: center;
    }

    &__left {
        padding: 50px 100px;
        padding-right: 150px;
        background-color: $main-purple;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;

        @media screen and (max-width: 800px) {
            width: 30%;
        }

        & h3 {
            letter-spacing: 5px;
            color: white;
            font-weight: 300;
            font-size: 14px;
        }

        & p {
            letter-spacing: 1px;
            color: white;
            font-weight: 400;
            margin-top: 8px;
        }

        &__icons {
            display: flex;
            width: 70%;
            justify-content: space-between;
            margin-top: 15px;

            & i {
                color: white;
                cursor: pointer;

                &:hover {
                    animation: fade2 ease-in .2s forwards;
                }
            }
        }   
    }

    &__right {
        align-self: flex-end;

        @media screen and (max-width: 800px) {
            align-self: center;
        }

        @media screen and (max-width: 600px) {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
        }

        &__bullet-points {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin-bottom: 30px;

            @media screen and (max-width: 600px) {
                gap: 50px
            }

            &__item {
                margin-bottom: 30px;

                & h3 {
                    letter-spacing: 1px;
                    font-size: 80px;
                    font-weight: 800;
                    color: $main-heavy-pink;
                }

                & p {
                    letter-spacing: 5px;
                    font-size: 20px;
                    color: $main-purple;
                }
            }
        }

        & h2 {
            color: $main-purple;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        & p {
            letter-spacing: 1px;
            color: $main-purple;
            margin-bottom: 25px;
            font-weight: 400;
        }

        &__button {
            padding: 25px 130px;
            border: none;
            background-color: $main-heavy-pink;
            display: flex;
            border-radius: 20px;
            cursor: pointer;
            align-items: center;
            gap: 30px;
            margin-top: 50px;

            @media screen and (max-width: 600px) {
                padding: 25px 90px;
            }

            &:hover {
                animation: fade ease-in .1s forwards;
            }
            
            & h4 {
                letter-spacing: 2px;
                color: white;
                font-size: 20px;
                font-weight: 600;

                @media screen and (max-width: 600px) {
                    font-size: 14px;
                }
            }

            & i {
                color: white;
                @media screen and (max-width: 600px) {
                    font-size: 14px;
                }
            }

        }
    }
}

@keyframes fade {
    0% {
        background-color: $main-heavy-pink;
    }
    100% {
        background-color: $main-purple;
    }
}
@keyframes fade2 {
    0% {
       color: white;
    }
    100% {
        color: $main-salmon;
    }
}