.about-container {
    display: flex;
    gap: 60px;
    margin-top: 200px;
    align-items: end;

    &__left {
        padding: 50px 100px;
        padding-right: 150px;
        background-color: $main-purple;
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 90vh;

        & h3 {
            letter-spacing: 5px;
            color: white;
            font-weight: 300;
            font-size: 14px;
        }

        & p {
            letter-spacing: 1px;
            color: white;
            font-weight: 400;
            margin-top: 8px;
        }

        &__icons {
            display: flex;
            width: 70%;
            justify-content: space-between;
            margin-top: 15px;

            & i {
                color: white;
                cursor: pointer;
            }
        }   
    }

    &__right {

        &__bullet-points {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            margin-bottom: 30px;

            &__item {
                margin-bottom: 30px;

                & h3 {
                    letter-spacing: 1px;
                    font-size: 80px;
                    font-weight: 800;
                    color: $main-heavy-pink;
                }

                & p {
                    letter-spacing: 5px;
                    font-size: 20px;
                    color: $main-purple;
                }
            }
        }

        & h2 {
            color: $main-purple;
            font-size: 30px;
            font-weight: 700;
            margin-bottom: 25px;
        }

        & p {
            letter-spacing: 1px;
            color: $main-purple;
            margin-bottom: 25px;
            font-weight: 400;
        }

        &__button {
            padding: 22px 130px;
            border: none;
            background-color: $main-heavy-pink;
            display: flex;
            border-radius: 20px;
            cursor: pointer;
            align-items: center;
            gap: 30px;
            margin-top: 50px;
            
            & h4 {
                letter-spacing: 2px;
                color: white;
                font-size: 24px;
                font-weight: 600;
            }

            & i {
                color: white;
            }

        }
    }
}